/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.title{
  font-size: 40px;
  font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}

.header {
  background-color: lightgreen;
  width:100vw;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black;
  border-radius: 3px;
  transition: 0.4s ease;
  font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
}
.nav__btn:hover{
  color: black;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.greeting{
  font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  font-size: 20px;
  margin-left: auto;
}

.greeting__link:hover{
  border-bottom: solid 1px black;
}

/* main */
.index_main{
  height:100vh;
  width:100vw;
  background-color: lemonchiffon;
}

.main{
  height:100vh;
  width:100vw;
  background-color: lemonchiffon;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.question_lists{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap row ;
}

.question_list{
  background-color: whitesmoke;
  width: 350px;
  height: 200px;
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 10px;
  font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  word-wrap:break-word;
  border-radius: 10px;
  position: relative;
}

.image{
  margin-top: 10px;
}

.num{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 10px;
}

.question_delete{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 10px;
  opacity: 0.2;
}

.question_delete:hover{
  border-bottom: solid 1px black;
  opacity: 1;
}

.question_user{
  margin-top: 5px;
}

.question{
  margin-top: 10px;
  font-weight: bold;
  font-family: ヒラギノ角ゴ ProN W6;
  white-space: pre-wrap;
  margin: auto;
}

.answer_page{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 10px;
}

.answer_num{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  margin-left: 10px;
}

.answer_page:hover{
  border-bottom: solid 1px black;
}

.q:hover{
  border-bottom: solid 1px black;
}

/* 回答ページ */

.question_lists_answer{
  display: flex;
  justify-content: center;
  flex-flow: wrap row ;
}

.question_list_answer{
  background-color: whitesmoke;
  width: 600px;
  height: 450px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 10px;
  font-family: “HGP行書体”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  word-wrap:break-word;
  border-radius: 10px;
  position: relative;
  font-size: 25px;
}

.item-img{
  width:300px;
  height:230px;
  margin : 0 auto
}

.questions{
  margin: auto;
  font-weight: bold;
  font-family: ヒラギノ角ゴ ProN W6;
  white-space: pre-wrap;
  padding-left: 10px;
  padding-right: 10px;
}

/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}



